@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #FAFAFA;
    color: #1F2937;
}

/* Buttons */
.btn-primary {
    @apply bg-primary text-white px-6 py-3 rounded-xl hover:opacity-90 transition;
}

/* Section spacing */
.section {
    @apply mb-16;
}


.section-lg {
    @apply mb-24;
}

/* ================= Animations ================= */

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-up {
    animation: fade-up 0.8s ease-out both;
}

/* Delay helpers */
.delay-1 {
    animation-delay: 0.1s;
}

.delay-2 {
    animation-delay: 0.2s;
}

.delay-3 {
    animation-delay: 0.3s;
}